.loaderImage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hidden {
  opacity: 0;
  z-index: -1;
}
.visible {
  opacity: 1;
  z-index: 2;
}
.loaderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
}
.loaderImage img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}